body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  min-width: 520px;
}

ol, ul {
  padding-left: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 1px solid black;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 46px;
}

/* 持ち駒 */
.captured{
  border: 1px solid white;
  background: white;
  margin-left: -9px;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 46px;
}

.piece{
  background: rgb(243, 194, 129);
}

.final{
  background: #BB8E5F;
}

.white{
  transform: rotate(180deg);
}

.click{
  background: rgb(238, 177, 102);
}

.attack{
  background: rgb(240, 211, 175);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info-black {
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
}

.game-info-white {
  margin-right: 20px;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
}

.number{
  margin-left: -2px;
  background: white;
  border: 1px solid white;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  width: 30px;
}
